<% layout('layouts/boilerplate')%>
<h1 class="display-1 text-center mx-5 fw-bold">Pediatric Cancer</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque
  numquam sint dicta est sunt, voluptatem quo! Repudiandae cumque pariatur quam,
  nisi ad qui in quaerat expedita voluptatum ratione nobis. Possimus similique
  voluptas at sit aut officia doloribus perspiciatis totam, atque, rerum,
  obcaecati non? Laboriosam quam placeat corporis quo quae architecto numquam!
  Blanditiis voluptatem quas voluptatibus rerum deserunt doloremque sequi! Ipsum
  ad, autem quia voluptas non alias sed hic fugiat aperiam exercitationem
  cumque, dolores perferendis asperiores libero, quasi fugit? Nemo illum itaque
  eos veniam voluptatibus ea corrupti unde suscipit adipisci. Iure voluptatum
  error animi inventore illum quidem cupiditate dolores quibusdam nobis velit
  tempora, ea sunt neque quaerat nisi enim atque in et doloribus pariatur
  excepturi aperiam harum? Voluptates, laboriosam dolores?
</p>
<div class="mb-3">
  <h2>What makes it different from adult cancer?</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad sint illo
    esse molestias eveniet obcaecati sunt assumenda, numquam placeat dignissimos
    veritatis quis aliquid libero, similique, mollitia saepe facere
    reprehenderit. Mollitia totam dignissimos error reiciendis iusto ullam
    asperiores, consectetur, repudiandae soluta, unde sequi ipsam vero ipsum?
    Magnam repellat error sapiente aspernatur eum quae, culpa perspiciatis
    aperiam aut sequi veritatis exercitationem! Dolorem molestias officiis
    consequatur laborum nam hic accusantium voluptates laboriosam temporibus
    natus! Impedit laborum, id mollitia dicta beatae asperiores ad
    necessitatibus, vel repudiandae soluta quos quis aliquam molestias vitae
    praesentium?
  </p>
</div>
<div class="mb-3">
  <h2>Causes</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ad sint illo
    esse molestias eveniet obcaecati sunt assumenda, numquam placeat dignissimos
    veritatis quis aliquid libero, similique, mollitia saepe facere
    reprehenderit. Mollitia totam dignissimos error reiciendis iusto ullam
    asperiores, consectetur, repudiandae soluta, unde sequi ipsam vero ipsum?
    Magnam repellat error sapiente aspernatur eum quae, culpa perspiciatis
    aperiam aut sequi veritatis exercitationem! Dolorem molestias officiis
    consequatur laborum nam hic accusantium voluptates laboriosam temporibus
    natus! Impedit laborum, id mollitia dicta beatae asperiores ad
    necessitatibus, vel repudiandae soluta quos quis aliquam molestias vitae
    praesentium?
  </p>
</div>
