<% layout('layouts/boilerplate')%>
<h1 class="display-1 text-center mx-5 fw-bold">Pediatric Cancer</h1>
<p>
  Pediatric cancer is a large issue, and it requires its own research and
  effort, separate from adult cancers. In children ages 1 to 14, cancer is the
  2nd leading cause of death after accidents. In 2021, an estimated 1,190
  children under 15 years old are expected to die from cancer, and an additional
  10,500 will be diagnosed with it. While modern technology and medical
  innovations have improved the survival of pediatric cancer patients (which
  dropped 65% from 1970 to 2016), further research is still necessary,
  especially research directed towards childhood cancers.
</p>
<div class="mb-3">
  <h2>What makes it different from adult cancer?</h2>
  <p>
    Cancers that affect children are very different from those that affect
    adults. They are different types of cancers because of the different causes;
    many adult cancers are caused by lifestyle and environment. Consequently,
    their biologies are very different, making some treatments ineffective
    against childhood cancers. Also, children typically respond better to
    treatment because of the difference in the types of cancer, the higher
    intensity of the treatments, and the fact that children often don't have
    other health issues. Because of these differences, treatments for childhood
    cancers require their own research. With these developing treatments, side
    effects are a greater concern because children’s bodies are developing, and
    most current treatments cause long-term side effects.
  </p>
</div>
<div class="mb-3">
  <h2>Causes</h2>
  <p>
    The causes of pediatric cancer are mostly unknown. Only about 5% of
    childhood cancers are genetic, or caused by inherited mutations. However,
    most cancers are not caused by inherited mutations, but by gene mutations
    early in the child’s life. It is difficult to identify the causes of these
    mutations for children, unlike for adults. Lifestyle causes, which apply for
    adults, don’t apply for children because they take many years to take
    effect. Also, with environmental causes, it is difficult to determine what
    carcinogens they were exposed to at such a young age. Some studies have
    reported various causes, although they are not strong enough to draw firm
    conclusions. Some examples of those causes are from parental exposure, like
    parent’s tobacco smoking, exposure at their workplace, or pesticides used
    around the home. Still, even with these findings, many cancers are caused by
    random events in the cell without any outside influence.
  </p>
</div>
<div class="mb-3">
  <h2>Treatments</h2>
  <ul>
    <li>
      <b>Surgery</b> - During surgery, surgeons either remove or debulk a tumor.
      Debulking a tumor is when surgeons remove some of a tumor but not all of
      it in order to prevent damage to an organ or the body. Debulking a tumor
      improves the success of other treatments. Surgery can not be used to treat
      leukemia, which occurs in the blood, or metastasized cancer (cancer that
      spreads to other areas of the body).
    </li>
    <li>
      <b>Chemotherapy</b> is a treatment that uses drugs to stop or slow cancer
      growth by killing rapidly growing cells. It is often used with other
      treatments, such as to shrink a tumor before surgery.
    </li>
    <li>
      <b>Radiation Therapy</b> uses high dose radiation to kill and shrink
      tumors. It does this by damaging the cells’ DNA, which causes them to stop
      dividing or die.
    </li>
    <li>
      <b>Immunotherapy</b> is a treatment that uses immune-system boosting drugs
      to fight cancer. The treatment can involve creating T-cells or antibodies
      designed to target specific cancer cells, administering vaccines, or
      inhibiting immune system checkpoints.
    </li>
    <li>
      <b>Stem cell transplants</b> are not treatments themselves, rather it is a
      way to recover from other treatments. This involves transplanting stem
      cells into bone marrow, taken from either the patient, a relative, or
      another person. It is often used with leukemia and lymphoma patients.
    </li>
  </ul>
</div>
