<% layout('layouts/boilerplate')%>
<h1 class="display-1 text-center mt-3 fw-bold">Research</h1>
<div class="mb-4">
  <h2 class="display-3 text-decoration-underline">Hopeful Areas</h2>
  <ul>
    <li><a href="#crispr">CRISPR Cas9</a></li>
    <li><a href="#histones">Histones</a></li>
    <li>
      <a href="#immunotherapy">Immunotherapies for Childhood Cancers</a>
    </li>
    <li>
      <a href="#molecular-target">Molecularly targeted therapies</a>
    </li>
  </ul>
</div>
<div class="mb-4">
  <h3 id="crispr">CRISPR Cas9</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quod ratione
    magni, soluta maiores totam delectus. Nam delectus iste saepe non doloribus,
    rerum placeat numquam architecto fugit sunt facere laudantium. Veritatis
    doloribus maiores, sit iusto magnam asperiores maxime omnis, sed natus non
    incidunt repellat ab debitis repellendus. Sunt eos, molestiae hic aperiam
    quibusdam facilis a laborum nemo amet explicabo modi. Accusantium officia
    reprehenderit tempora ut optio possimus necessitatibus autem explicabo
    ratione reiciendis accusamus tenetur dolorem fugiat eum omnis officiis
    dolorum itaque vel alias, ipsa inventore ullam obcaecati! Reiciendis,
    incidunt architecto!
  </p>
</div>
<div class="mb-4">
  <h3 id="histones">Histones</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quod ratione
    magni, soluta maiores totam delectus. Nam delectus iste saepe non doloribus,
    rerum placeat numquam architecto fugit sunt facere laudantium. Veritatis
    doloribus maiores, sit iusto magnam asperiores maxime omnis, sed natus non
    incidunt repellat ab debitis repellendus. Sunt eos, molestiae hic aperiam
    quibusdam facilis a laborum nemo amet explicabo modi. Accusantium officia
    reprehenderit tempora ut optio possimus necessitatibus autem explicabo
    ratione reiciendis accusamus tenetur dolorem fugiat eum omnis officiis
    dolorum itaque vel alias, ipsa inventore ullam obcaecati! Reiciendis,
    incidunt architecto!
  </p>
</div>
<div class="mb-4">
  <h3 id="immunotherapy">Immunotherapies</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quod ratione
    magni, soluta maiores totam delectus. Nam delectus iste saepe non doloribus,
    rerum placeat numquam architecto fugit sunt facere laudantium. Veritatis
    doloribus maiores, sit iusto magnam asperiores maxime omnis, sed natus non
    incidunt repellat ab debitis repellendus. Sunt eos, molestiae hic aperiam
    quibusdam facilis a laborum nemo amet explicabo modi. Accusantium officia
    reprehenderit tempora ut optio possimus necessitatibus autem explicabo
    ratione reiciendis accusamus tenetur dolorem fugiat eum omnis officiis
    dolorum itaque vel alias, ipsa inventore ullam obcaecati! Reiciendis,
    incidunt architecto!
  </p>
</div>
<div class="mb-4">
  <h3 id="molecular-target">Molecularly Targeted Therapies</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos quod ratione
    magni, soluta maiores totam delectus. Nam delectus iste saepe non doloribus,
    rerum placeat numquam architecto fugit sunt facere laudantium. Veritatis
    doloribus maiores, sit iusto magnam asperiores maxime omnis, sed natus non
    incidunt repellat ab debitis repellendus. Sunt eos, molestiae hic aperiam
    quibusdam facilis a laborum nemo amet explicabo modi. Accusantium officia
    reprehenderit tempora ut optio possimus necessitatibus autem explicabo
    ratione reiciendis accusamus tenetur dolorem fugiat eum omnis officiis
    dolorum itaque vel alias, ipsa inventore ullam obcaecati! Reiciendis,
    incidunt architecto!
  </p>
</div>
<h2 class="display-3 text-decoration-underline">Challenges</h2>
<div class="mb-3">
  <ul>
    <li>Childhood Cancer is Rare</li>
    <li>Clinical trials are limited to small cohorts</li>
    <li>Causes are unknown</li>
    <li>Childhood and Adult cancers differ in biology</li>
    <li>
      Childhood treatments need to be less toxic and have little side effects
    </li>
  </ul>
</div>
