<% layout('layouts/boilerplate')%>
<h1 class="display-1 text-center mx-4 fw-bold">Most Common Types</h1>
<div id="typesRow" class="mb-3">
  <div class="barItem" id="leukemia">
    <span class="stay">28%</span>
  </div>
  <div class="barItem" id="cns">
    <span class="stay">26%</span>
  </div>
  <div class="barItem" id="lymphomas">
    <span class="stay">8%</span>
  </div>
  <div class="barItem" id="neuroblastoma">
    <span>6%</span>
  </div>
  <div class="barItem" id="wilms">
    <span>5%</span>
  </div>
  <div class="barItem" id="rhabdomyosarcoma">
    <span>3%</span>
  </div>
  <div class="barItem" id="bonecancer">
    <span>3%</span>
  </div>
  <div class="barItem" id="retinoblastoma">
    <span>2%</span>
  </div>
  <div class="barItem" id="other">
    <span class="stay">19%</span>
  </div>
</div>
<div class="card">
  <div class="card-body" id="currentType">
    <h2 class="card-title" id="title">Leukemia</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-muted" id="percentage">
        28% of all childhood cancer
      </li>
      <li class="list-group-item" id="location">
        Occurs in blood and bone marrow
      </li>
      <li class="list-group-item" id="ageGroup">
        Most common in children of all ages
      </li>
      <li class="list-group-item">
        <div id="cancerInfo">
          <p>
            The most common types are acute lymphocytic leukemia (ALL), which is
            the most common childhood cancer, and acute myeloid leukemia (AML)
            The symptoms of these leukemias include:
          </p>
          <ul>
            <li>Bone and joint pain</li>
            <li>Fatigue</li>
            <li>Weakness</li>
            <li>Pale skin</li>
            <li>bleeding/bruising</li>
            <li>Fever</li>
            <li>Weight loss</li>
          </ul>
          <p>
            Acute leukemias, such as ALL and AML, need to be treated quickly,
            often with chemotherapy.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
